<div
  class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
<div class="w-full overflow-x-auto">
  <table class="w-full min-w-[600px] table-auto">
    <thead>
      <tr class="bg-gray-2 text-left dark:bg-meta-4">
        <th class="whitespace-nowrap px-4 py-4 font-medium text-black dark:text-white">
          Transaction ID
        </th>
        <th class="whitespace-nowrap px-4 py-4 font-medium text-black dark:text-white">
          Order Number
        </th>
        <th class="whitespace-nowrap px-4 py-4 font-medium text-black dark:text-white">
          Rental Date
        </th>
        <th class="whitespace-nowrap px-4 py-4 font-medium text-black dark:text-white">
          Amount
        </th>
        <th class="whitespace-nowrap px-4 py-4 font-medium text-black dark:text-white">
          Status
        </th>
      </tr>
    </thead>
    <tbody id="transaction-table-body">
      <!-- Dynamic order rows will go here -->
    </tbody>
  </table>
</div>


</div>
